.view{
    height: 77vh;
    width: 100%;
    
}
table{
    table-layout: fixed;
    text-overflow:inherit;
}
.header_logo{
    height: 55px;
    
}
/* .header_col{
    width: 250px;
} */
.header_view{
    height: 95px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
tr,td{
    padding: 15px;
    border-width: 1;
}
.bill_size {
    width: 600px;
    height: 800px;
}
.tr_bot{
    background-color: aquamarine;
    border-bottom-style: solid;
}
#dont_type:hover{
    opacity: 0;
}




.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}
.bg_logo{
    background-image: url('/static/images/logo_bg.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.8);
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.alert-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
}


@media print {
    body * {
        visibility: hidden;
    }
    #printDiv, #printDiv * {
        visibility: visible;
    }
    #printDiv {
        position: absolute;
        left: 0;
        top: 0;
    }
    #CON1, #CON2, #CON3, #CON4, #CON5 {
        visibility: hidden;
    }
}